<% if @tweet.errors.present?%>
  <ul>
    <% @tweet.errors.each do |error, message|%>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end%>
<div class="form_container">
byebug
  <%= form_for @tweet do |f| %>
    <table>
        <tr>
          <td><%= f.label :body%></td>
          <td><%= f.text_field :body%></td>
        </tr>

    Posting as <%= current_user.username %>
    <%=  f.hidden_field :user_id, :value => current_user.id %>
    <tr> 
      <td colspan="2">
        <div id="tweet_submit">
        <%= f.submit %></td>
        </div>
    </tr>
    </table>
    <%= link_to 'Back to index', root_path %>
  <% end %>
</div>