<!DOCTYPE html>
<html>
    <head>
        <title>Twitter Clone</title>
        <%= render 'layouts/rails_default' %>
        <%= render 'layouts/shim' %>
    </head>

    <body>
    <%= render 'layouts/header' %>
        <div class="content">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>    
        </div>
    <%= render 'layouts/footer' %>     
    </body>
</html>